@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);;

:root {
  --black: #111;
  --blue: #4A90E2;
  --red: #D0021B;
  --light-grey: #F0F0F0;
  --medium-grey: #AAA;
  --grey: #DCE0E0;
  --dark-grey: #565A5C;
  --white: #FFF;

  --font: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  --font-head: "Open Sans", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --monospace: Inconsolata, Menlo, Consolas, monospace !important;
}
