// -----------------------------------------------------------------------------
//                                Layout
// -----------------------------------------------------------------------------

.cell {
  margin: 0 3%;
  width: 94%;
}

.cell__label {
  display: inline-block;
  padding: 25px 4% 25px 0;
  width: 18%;
  text-align: right;
}

.cell__content {
  display: inline-block;
  width: 78%;
}

.cell__label {
  color: $medium-gray;
}

// -----------------------------------------------------------------------------
//                             Decoration
// -----------------------------------------------------------------------------

.cell__content {
  color: $dark-gray;
}
