// -----------------------------------------------------------------------------
//                                Layout
// -----------------------------------------------------------------------------

.number-picker__list {
  display: inline-block;
  list-style: none;
  padding: 0;
  width: 85%;
}

.list-button--prev,
.list-button--disabled {
  display: inline-block;
  text-align: center;
  width: 10%;
}

.list-button--next {
  display: inline-block;
  text-align: right;
  width: 5%;
}

.number-picker__number,
.number-picker__number--selected {
  display: inline-block;
  padding: 3% 0;
  text-align: center;
  width: 16.66666667%;
}

// -----------------------------------------------------------------------------
//                             Decoration
// -----------------------------------------------------------------------------

.list-button--prev,
.list-button--next,
.list-button--disabled {
  color: $medium-gray;
  font-weight: lighter;
}

.number-picker__number,
.number-picker__number--selected,
.list-button--prev,
.list-button--next {
  cursor: pointer;
}

.number-picker__number--selected {
  border: 1px solid $green;
  border-radius: $base-border-radius;
  color: $green;
}

.number-picker__number:hover {
  border: 1px solid $medium-gray;
  border-radius: $base-border-radius;
  color: $medium-gray;
}
