.timeslots-selector,
.timeslots-list,
.timeslot {
  display: inline-block;
}

.timeslot {
  border-radius: $base-border-radius;
  cursor: pointer;
  padding: 3% 0;
  text-align: center;
  width: 20%;

  &:hover {
    border: 1px solid $medium-gray;
  }
}

.timeslots-list {
  width: 85%;
}

.timeslot--disabled {
  color: $light-gray;
}

.timeslot--selected {
  border: 1px solid $green;
  border-radius: $base-border-radius;
  color: $green;
}

.pointer {
  cursor: pointer;
}
