.widget-header {
  @include background(
    linear-gradient(
      rgba($black, 0.8),
      rgba($black, 0.8)
    ),
    url('http://www.cocobeach-restaurant.com/images/fresh-fish-restaurant-nice/fresh-fish-restaurant-nice-2.jpg')
  );
  padding: 1em 2em 1em;
}

.widget-header__facility-name {
  color: white;
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 0.2em;
  margin-top: 0;
}

.widget-header__subtitle {
  color: $white;
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}
