/* ------------------------------------------------------------------
                        Defaults
------------------------------------------------------------------- */

 /*http://callmenick.com/post/the-new-box-sizing-reset*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

/* ------------------------------------------------------------------
                        Layout
------------------------------------------------------------------- */
.number-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
}

.label {
  flex: 1;
  padding-left: 30px;
  padding-right: 15px;
}

.input,
.button-group {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */
.mainHeading {
  font-size: 18px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 12px;
}

.secondaryHeading {
  font-size: 14px;
  font-weight: normal;
  padding-left: 15px;
  padding-top: 4px;
}

/* ------------------------------------------------------------------
                         Theme
------------------------------------------------------------------- */
.number-selector {
  background: red;
  color: #999;
}

.label {
  background: salmon;
}

.input {
  background: lightsalmon;
}

.button-group {
  background: lightcoral;
}
