.spinner {
    border: 0.3rem solid #f7f7f7;
    border-top: 0.3rem solid #ccc;
    border-radius: 500rem;
    margin: 0 auto;
    width: 4.4rem;
    height: 4.4rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
