.timeslot {
  display: block;
  width: 80%;
  height: 50px;
  font-size: 16px;
  color: #555;
  line-height: 50px;
  min-width: 300px;
  margin: 0 auto;
  border-bottom: 1px solid #F7F7F7;
}

.timeslot__time {
  display: inline-block;
  width: 30%;
}

.timeslot__spots {
  display: inline-block;
  width: 50%;
  color: #999;
}

.timeslot__discount {
  display: inline-block;
  width: 20%;
  color: #F8C150;
}
