 /*http://callmenick.com/post/the-new-box-sizing-reset*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  /*https://medium.design/system-shock-6b1dc6d6596f#.szmjm1cjg*/
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.webpage-main {
  background: yellow;
  float:left;
  height: 100px;
  width: 200px;
}

.webpage__widget-holder {
  background: coral;
  width: 350px;
  display: inline-block;
  // float: right;
}

.widget-container {
  min-width: 300px;
  max-width: 736px;
  min-height: 500px;
  max-height: 736px;
  // height: 100%;
}

.widget-header--is-collapsed {
  color: white;
  height: 40px;
}

.main_heading {

}

.main-section {
  height: 200px;
}

.people__selector {
  background: white;
  border-bottom: 1px solid grey;
  height: 33%;
}

.people__selector--is-expanded {

}

.calendar {
  background: aquamarine;
  height: 33%;
}
