body {
  font-family: 'Open Sans', sans-serif;
}

.webpage-main {
  background: yellow;
  float:left;
  height: 100px;
  width: 200px;
}

.webpage__widget-holder {
  background: coral;
  float: right;
}

.widget-container {
  min-width: 400px;
  max-width: 550px;
  height: 100%;
}

.widget__header {
  color: white;
  height: 80px;
  padding: 15px;
}

.main_heading {

}

.main-section {
  height: 200px;
}

.people__selector {
  background: white;
  border-bottom: 1px solid grey;
  height: 33%;
}

.people__selector--is-expanded {

}

.calendar {
  background: aquamarine;
  height: 33%;
}
